.index-box {
    border:1px solid gray;
    margin: 30px 30px;
    text-align: center;
    padding:20px 10px;
    box-shadow: 10px 10px 10px  white;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.index-box:hover {
    font-size: 40px;
}


.index-box p {
    font-weight: bold;
    color: white;
}